body, td,th,div,span,label,a,span,input,textarea,p,option{
    font-family: verdana  !important;
    font-size: 12px;
    /* color: #525252; */
}

.framepopup{

    margin: 5px 10px 10px 10px;
}

.required-star  {
    margin:0px;padding: 0px;vertical-align: top
}

.listcheckbox{
    list-style-type: none;
    margin:0px;
    padding: 0px;
}
.listcheckbox li{
    width: 200px;
    height:30px;		

    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
    vertical-align:top;
    overflow:auto;
}

.form-title{
    margin: 0px;
    padding: 5px;
    font-size: 18px;
    background: #edf1f6;
    height: 30px;

}
.content_body{
    padding: 10px;
    position: absolute;
    top:30px;
    bottom: 0px;
    right: 0px;
    left: 0px;
	min-width:700px;

}
.form-tbl {
    padding:5px;
}
.form-tbl table{    
    border: 0px;
    border-collapse: separate;
    border-spacing: 3px;
}

.form-tbl table tr td{

    vertical-align: top;
}
.aright{
    text-align: left;
}
.tablegrid_stylefull{
    position: absolute;top:0px;bottom: 10px;right: 0px;left: 0px;

}

.ajax-hide {
    position:absolute;
    top:0;
    left:0;
    width: 0px;
    height: 0px;
    z-index: -1;
} 
.ajax-show {  
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:10000;
    background-color:white;
    opacity: .4;
}

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block;     

}

.cursorPointer{
    cursor: pointer;   
}

.imgbt {
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    margin: 0px 2px;
    padding: 4px !important;
    color: #666;
    font-size: 12px !important;
    border: 1px solid transparent;

    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffe7e7e7', endColorstr='#ffffffff', GradientType=0);
    outline: none;

    line-height: 100% !important;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.imgbt:hover {
    text-decoration: none;
    border: 1px solid #bbb;
    background-image: -webkit-linear-gradient(#f7f7f7 0%, #dddddd 100%);
    background-image: -moz-linear-gradient(#f7f7f7 0%, #dddddd 100%);
    background-image: -ms-linear-gradient(#f7f7f7 0%, #dddddd 100%);
    background-image: -o-linear-gradient(#f7f7f7 0%, #dddddd 100%);
    background-image: linear-gradient(#f7f7f7 0%, #dddddd 100%);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffdddddd', endColorstr='#fff7f7f7', GradientType=0);
    color: #333;
}
.imgbt:active,
.imgbt.clicked {
    border: 1px solid #999;
    background-image: -webkit-linear-gradient(#cccccc 0%, #cccccc 100%);
    background-image: -moz-linear-gradient(#cccccc 0%, #cccccc 100%);
    background-image: -ms-linear-gradient(#cccccc 0%, #cccccc 100%);
    background-image: -o-linear-gradient(#cccccc 0%, #cccccc 100%);
    background-image: linear-gradient(#cccccc 0%, #cccccc 100%);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffcccccc', endColorstr='#ffcccccc', GradientType=0);
    text-shadow: 1px 1px 1px #eee;
}
.imgbt:disabled {
    border: 1px solid #bbb !important;
    background: #f7f7f7 !important;
    color: #bdbcbc !important;
    text-shadow: none !important;
}
.loginDialog {
    z-index: 1600;
    z-index: 1600 !important ;
}

.loginDialog .ui-dialog-titlebar-close
{
    display:none;
}
.w50{
    width: 50px;
}
.w75{
    width: 75px;
}
.w100{
    width: 100px;
}
.w150{
    width: 150px;
}
.w200{
    width: 200px;
}
.w250{
    width: 250px;
}
.w300{
    width: 300px;
}
.aright{
    text-align: right;
}


.homebox{
    position: relative;
    margin: 5px;
    display: inline-block;
    vertical-align: top;

}

.gn_square{        
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border: 1px solid #A19B9B;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.32);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.32);
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.32);
}


.k-tooltip{
    background: #F5F6F7 !important; 

}
.k-textbox > input, .k-autocomplete .k-input, .k-picker-wrap .k-input, .k-numeric-wrap .k-input, .k-dropdown-wrap .k-input, .k-selectbox .k-input{
    height: 28px !important; 
}

.k-multiselect-wrap .k-input {
    background-color: transparent !important;
    border: 0 none !important;
    float: left !important;
    height: 1.31em !important;
    line-height: 1.31em !important;
    margin: 1px 0 0 !important;
    padding:  0 !important;
    text-indent: 0.33em !important;
}

.w2ui-tabs {
    background-color: transparent;
}
.w2ui-tabs .w2ui-tab.active {
    background-color: #F5F6F7;
}
.w2ui-tabs .w2ui-tab {
    margin: 1px 1px -2px 0 !important;
    cursor: pointer;
    background-color: silver;
}

.tabboxwui2 {
    background-color: #F5F6F7;
    border: 1px solid silver;
    border-top: 0px;
    padding: 10px;
    overflow: auto;
}
.gn_breadcrumb{
    height: 25px;
}

.kendonumber {
    text-align: right;
}


.h_workflow{
  margin: 0;
  padding: 0;
  list-style: none;
  background: #eee;
  border-width: 1px;
  border-style: solid;
  border-color: #f5f5f5 #e5e5e5 #ccc;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  overflow: hidden;
  width: 100%;
}

.h_workflow li{
  float: left;
}

.h_workflow a{
    
  padding: .7em 1em .7em 2em;
  float: left;
  text-decoration: none;
  color: white;
  position: relative;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  background-color: #ddd;
  background-image: linear-gradient(to right, #296b51, #2f9868);  
}

.h_workflow li:first-child a{
  padding-left: 1em;
  border-radius: 5px 0 0 5px;
}

.h_workflow a:hover{
  background: #fff;
}

.h_workflow a::after,
.h_workflow a::before{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;   
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid;
  right: -1em;
}

.h_workflow a::after{ 
  z-index: 2;
  border-left-color: #2f9868;  
}

.h_workflow a::before{
  border-left-color: white;  
  right: -1.1em;
  z-index: 1; 
}

.h_workflow a:hover::after{
  border-left-color: #fff;
}

.h_workflow .current,
.h_workflow .current:hover{
  font-weight: bold;
  background: none;
}

.h_workflow .current::after,
.h_workflow .current::before{
  content: normal;  
}
